.shop {
    width: 100%;
}
.shop-header {
    height: 105px;
    background-color: #416221;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shop-header-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-header-one-heading {
    color: #fff;
    font-size: 24px;
    margin: 0 0 12px;
}
.shop-header-one-link {
}
.shop-header-one-link-home {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.shop-header-one-link-shop {
    color: #fff;
    font-size: 14px;
}
.shop-header-two {
}
.shop-container {
    display: flex;
    padding: 30px 0;
    justify-content: center;
}
.shop-container-table {
    margin: 0 15px;
    width: 100%;
    line-height: 2.5;
    margin-top: 9px;
    border-radius: 20px;
}
.shop-container-table-heading {
    display: flex;
    justify-content: center;
    padding: 13px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #669933;
}
.shop-container-table-list {
    border: 1px solid #669933;
    padding: 10px;
    font-size: 15px;
}
.shop-container-table-item {
    list-style-type: none;
    padding: 6px 0;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-around;
}
.shop-container-table-count {
    color: #ccc;
    font-size: 15px;
}
.shop-container-list {
    display: flex;
    justify-content: space-between;
}
.shop-container-item {
    margin: 5px 10px;
}

.shop-header-two-sort {
    margin: 2px;
    border: none;
    display: flex;
    justify-content: center;
}

.shop-header-two-sort:before,
.shop-header-two-sort::after {
    content: unset !important;
}
